body {
    background-image: url(assets/background-page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: antiquewhite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100pt;
    text-align: center;
}